.idea/compiler.xml
.idea/description.html
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Maven__org_twitter4j_twitter4j_core_4_0_3.xml
WataProject.iml
twitter4j.properties
.idea/vcs.xml
out/production/WataProject/Main.class
TwitterSearchEngine.class
out/production/WataProject/DictionnaryParser.class
out/production/WataProject/SentimentAnalyser.class
uiDesigner.xml
DictionaryParser.class
training.1600000.processed.noemoticon.csv
Project Description.pdf
training_data_file.csv
